In [3]:
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
 Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 
 You need to find following details:
 
 A) Rank B) Name C) Artist D) Upload date E) View

In [8]:
#getting the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(2)

#creating empty lists to scrape data
name=[]
Rank=[]
Artist=[]
Upload_date=[]
Views=[]

#scraping rank details 
try: 
    tag= driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in tag:
        Rank.append(i.text)
        if len(Rank)>29:
            break
except NoSuchElementException as e:
    Rank.append('-')
    
#getting name of videos    
try: 
    tag= driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in tag:
        name.append(i.text)
        if len(name)>29:
            break
except NoSuchElementException as e:
    name.append('-')
    
#getting artist name of videos
try: 
    tag= driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in tag:
        Artist.append(i.text)
        if len(Artist)>29:
            break
except NoSuchElementException as e:
    Artist.append('-')
    
#scraping views of videos
try: 
    tag= driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in tag:
        Views.append(i.text)
        if len(Views)>29:
            break
except NoSuchElementException as e:
    Views.append('-')
    
#scraping the uploaded date of video
try: 
    tag= driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in tag:
        Upload_date.append(i.text)
        if len(Upload_date)>29:
            break
except NoSuchElementException as e:
    Upload_date.append('-')
    
#converting all data into dataframe
df = pd.DataFrame({'Rank':Rank,'Name':name,'Artist':Artist,'Upload Date':Upload_date,'Views':Views}, index=Rank)
df

,Rank,Name,Artist,Upload Date,Views
1.,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.96
2.,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.69
3.,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.08
4.,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.58
5.,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.38
6.,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.83
7.,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.55
8.,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
9.,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.42
10.,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.39
11.,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.30
12.,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.79
13.,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
14.,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
15.,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.50
16.,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.48
17.,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.47
18.,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.39
19.,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
20.,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.21
21.,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
22.,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.16
23.,23.,"""Let Her Go""[40]",Passenger,"July 25, 2012",3.15
24.,24.,"""Bailando""[41]",Enrique Iglesias,"April 11, 2014",3.15
25.,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.15
26.,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
27.,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.06
28.,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.05
29.,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
30.,30.,"""Mi Gente""[47]",J Balvin,"June 29, 2017",3.02

## 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [75]:
#opening the chrome webdriver and loading the url
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(5)
search=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a').get_attribute('href')

driver.get(search)
time.sleep(5)

#creating the empty lists
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#scraping titles of match
tag= driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for i in tag:
    Match_title.append(i.text.split("-")[0])
       
#scraping Series of match
tag= driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for i in tag:
    Series.append(i.text)
    
#getting place of match held
tag= driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for i in tag:
    Place.append(i.text.split("-")[1])

#scraping date of match
tag= driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
for i in tag:
    Date.append(i.text)
    
#time of match
tag= driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')
for i in tag:
    Time.append(i.text)
    
#converting the match details into dataframe
df = pd.DataFrame({'Match title':Match_title, 'Series':Series, 'Place':Place, 'Date':Date,'Time':Time})
df

,Match title,Series,Place,Date,Time
0,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,1st ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,2nd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,3rd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,1st T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST

## 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [76]:
#loading the webdriver
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.guru99.com/'
driver.get(url)
time.sleep(2)

#creating the empty lists
Name=[]
Description=[]

#opening the 'selenium' tab
tag = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').get_attribute('href')
driver.get(tag)

#opening the 'selenium exception handling' page
try:
    tag = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
    driver.get(tag)
except:
    driver.find_element_by_xpath('//div[@class="cb-close"]').click()
    tag = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
    driver.get(tag)
    
    
#scraping Name tag
tag = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in tag:
    Name.append(i.text)
    
#scraping the description of data    
tag = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in tag:
    Description.append(i.text)
    
#converting the data into dataframe    
df = pd.DataFrame({'Name':Name,'Description':Description})
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/ 

You have to find following details: 

A) Rank B) State C) GSDP D) GSDP E) Share F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [87]:
#opening the chrome driver
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.statisticstimes.com/'
driver.get(url)
time.sleep(2)

#scrolling over economy tab and clicking india 
tag=driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]').get_attribute('href')
driver.get(tag)

#opening the gdp of indian states 
tag=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
driver.get(tag)

#creating empty lists
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP=[]

#scraping ranks, GSDP, Share, GDP details of each states
try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
    for i in tag:
        Rank.append(i.text)
except:
    Rank.append('-')

try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
    for i in tag:
        State.append(i.text)
except:
    Rank.append('-')
    
try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
    for i in tag:
        GSDP_19_20.append(i.text)
except:
    GSDP_19_20.append('-')
    
try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
    for i in tag:
        GSDP_18_19.append(i.text)
except:
    GSDP_18_19.append('-')
    
try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
    for i in tag:
        Share.append(i.text)
except:
    Share.append('-')
    
try:
    tag = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
    for i in tag:
        GDP.append(i.text)
except:
    GDP.append('-')

#converting the scraped data into dataframe
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP (19/20)':GSDP_19_20, 'GSDP (18/19)':GSDP_18_19,'Share':Share,'GDP($ billion)':GDP}, index=Rank)
df

,Rank,State,GSDP (19/20),GSDP (18/19),Share,GDP($ billion)
1,1,Maharashtra,-,"2,632,792",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,4,Gujarat,-,"1,502,899",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,9,Telangana,"969,604","861,031",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,11,Kerala,-,"781,653",4.14%,118.733
12,12,Delhi,"856,112","774,870",4.10%,117.703
13,13,Haryana,"831,610","734,163",3.89%,111.519
14,14,Bihar,"611,804","530,363",2.81%,80.562
15,15,Punjab,"574,760","526,376",2.79%,79.957
16,16,Odisha,"521,275","487,805",2.58%,74.098
17,17,Assam,-,"315,881",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,19,Jharkhand,"328,598","297,204",1.57%,45.145
20,20,Uttarakhand,-,"245,895",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,23,Goa,"80,449","73,170",0.39%,11.115
24,24,Tripura,"55,984","49,845",0.26%,7.571
25,25,Chandigarh,-,"42,114",0.22%,6.397
26,26,Puducherry,"38,253","34,433",0.18%,5.230
27,27,Meghalaya,"36,572","33,481",0.18%,5.086
28,28,Sikkim,"32,496","28,723",0.15%,4.363
29,29,Manipur,"31,790","27,870",0.15%,4.233
30,30,Nagaland,-,"27,283",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,32,Mizoram,"26,503","22,287",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title B) Repository description C) Contributors count D) Language used ASSIGNMENT

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [265]:
#opening the chrome driver
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://github.com/'
driver.get(url)
time.sleep(2)

In [267]:
#opening the link and sliding on explore tab
tag=driver.find_elements_by_xpath('//details[@class="HeaderMenu-details details-overlay details-reset width-full"]')
for i in tag:
    if i.text == 'Explore':
        driver.find_element_by_xpath('//details[@class="HeaderMenu-details details-overlay details-reset width-full"]').click

In [268]:
 #clicking on the trending repositories
tag=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').get_attribute('href')
driver.get(tag)
time.sleep(2)

In [269]:
#creating the empty lists for data to be scraped
title=[]
desc=[]
Contributors=[]
Language=[]
links=[]
lang=[]

#scraping title details
try:
    tag = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in tag:
        title.append(i.text.split('/')[1])   
except:
    title.append('-')

#scraping contributor details
try:
    tag = driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]')
    for i in tag:
        Contributors.append(len(i.find_elements_by_tag_name('a')))
         
except:
    Contributors.append('-')

#getting into each links and storing into link list.
tags = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for i in tags:
    links.append(i.get_attribute('href'))

for j in links:
    driver.get(j)
    #scraping languages used in each repository 
    try:
        tag = driver.find_elements_by_xpath('//span[@class="color-fg-default text-bold mr-1"]')
        for i in tag:
            lang.append(i.text)
        Language.append(lang)   
    except:
        Language.append('-')
    #scraping description of each repository
    try:
        tag = driver.find_element_by_xpath('//p[@class="f4 mb-3"]')
        desc.append(tag.text)        
    except NoSuchElementException:
        desc.append('-')        
    
    
        
#conveting all details into dataframe
df = pd.DataFrame({'Repository title':title, 'Repository description':desc ,'Contributors count':Contributors, 'Language used':Language})
df

,Repository title,Repository description,Contributors count,Language used
0,30-Days-Of-JavaScript,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
1,awesome-piracy,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
2,HelloGitHub,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
3,holehe,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
4,xquic,-,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
5,Python,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
6,freeCodeCamp,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
7,slide_puzzle,-,4,"[JavaScript, HTML, HTML, Shell, Python, Python..."
8,java-design-patterns,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
9,faker.js,-,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
10,hello-wordl,,1,"[JavaScript, HTML, HTML, Shell, Python, Python..."
11,Java,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
12,flash-linux0.11-talk,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
13,modern-unix,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
14,kaggle-solutions,,1,"[JavaScript, HTML, HTML, Shell, Python, Python..."
15,bumblebee,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
16,MagicMirror,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
17,laravel-tips,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
18,BookStack,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
19,awesome-java,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
20,PowerToys,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
21,interviews,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
22,weekly,,5,"[JavaScript, HTML, HTML, Shell, Python, Python..."
23,mae,,2,"[JavaScript, HTML, HTML, Shell, Python, Python..."
24,crypto-reading-list,-,2,"[JavaScript, HTML, HTML, Shell, Python, Python..."

## 6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [270]:
#loading the webdriver with url
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.billboard.com/'
try:
    driver.get(url)
    time.sleep(2)
except:
    pass

#clicking charts
tag = driver.find_element_by_xpath('//a[@class="c-link  lrv-a-unstyle-link lrv-a-unstyle-link lrv-u-color-brand-accent-blue:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest "]').get_attribute('href')
driver.get(tag)
time.sleep(2)

In [271]:
#clinking hot 100
tag = driver.find_element_by_xpath('//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]').get_attribute('href')
driver.get(tag)
time.sleep(2)

In [284]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

tag = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
for i in tag:
    Song_name.append(i.text)
    
   

tag = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in tag:
    Artist_name.append(i.text)



tag = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]/span')
for i in tag:
    Last_week_rank.append(i.text)

 
tag = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')    
for i in tag:
    Peak_rank.append(i.text)
  
tag = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[5]/span')    
for i in tag:
    Weeks_on_board.append(i.text)

In [283]:
#converting into dataframe
df = pd.DataFrame({'Song Name':Song_name, 'Artist Name':Artist_name,'Last Week Rank':Last_week_rank ,'Peak Rank':Peak_rank, 'Weeks on Board':Weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

## 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name B) Designation C) Company D) Skills they hire for E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through cod

In [233]:
#loading the webdriver with url
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.naukri.com/'
try:
    driver.get(url)
    time.sleep(2)
except:
    pass

#clicking the recruiter tab
try:
    driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div')
    tag = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a').get_attribute('href')
    driver.get(tag)
    time.sleep(2)
except:
    driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]').click()
    driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div')
    tag = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a').get_attribute('href')
    driver.get(tag)
    time.sleep(2)

#Searching for datascientist
tag = driver.find_element_by_xpath('//input[@class="sugInp"]')
tag.send_keys('Data Scientist')

#clicking search button
btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
btn.click()

#empty lists
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#extracting all the details as per the requirement
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[1]/span')
for name in tag:
    Name.append(name.text)
    
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/span[1]')
for name in tag:
    Designation.append(name.text)
    
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[2]')
for name in tag:
    Company.append(name.text)
    
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[2]')
for name in tag:
    Skills.append(name.text)

tag = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for name in tag:
    try:
        Location.append(name.text)
    except NoSuchElementException:
        Location.append('--')
        
#length of all items
len(Name), len(Designation), len(Company), len(Skills), len(Location)

#converting scraped data into dataframe
df  = pd.DataFrame({'Name':Name[0:48],'Designation':Designation[0:48],'Company':Company[0:48],'Skills they hire for':Skills[0:48],'Location':Location[0:48]})
df

,Name,Designation,Company,Skills they hire for,Location
0,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
5,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
6,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
8,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
9,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
20,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Ankit Soni,Talent Acquisition,Seven N Half,"Relationship Management, Branch Management, Br...",Ahmedabad
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
34,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
37,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Pune
38,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Hyderabad / Secunderabad
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Bengaluru / Bangalore
40,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Delhi
41,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Bengaluru / Bangalore
42,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
43,navya neluri,Data Scientist,asens labs,Not Specified,Pune
44,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Mumbai
45,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Bengaluru / Bangalore
46,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad
47,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Mumbai

## 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

You have to find the following details:

A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [242]:
#loading the webdriver with url
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(2)

#empty lists
Book_name=[]
Author_name=[]
Volumes=[]
Publisher=[]
Genre=[]

#extracting the name of book
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in tag:
    Book_name.append(i.text)
    
#author name
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in tag:
    Author_name.append(i.text)
    
#volumes of book
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in tag:
    Volumes.append(i.text)
    
#publisher name
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in tag:
    Publisher.append(i.text)
    
#genre
tag = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in tag:
    Genre.append(i.text)
   

 #creating data frame
df = pd.DataFrame({'Book Name': Book_name, 'Author Name': Author_name, 'Volumes': Volumes, 'Publisher':Publisher,'Genre':Genre})

df

,Book Name,Author Name,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [250]:
#loading the webdriver with url
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(2)

#creating empty lists
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Rating=[]
Votes=[]

#extracting name of series
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a')
for i in tag:
    Name.append(i.text)
    
#year span of series
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
for i in tag:
    Year_span.append(i.text)
    
#genre of series
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]')
for i in tag:
    Genre.append(i.text)

#total run time
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')
for i in tag:
    Run_time.append(i.text)
  
 #Rating of series
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')
for i in tag:
    Rating.append(i.text)
    
#votes obtained
tag = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
for i in tag:
    Votes.append(i.text)
    
#converting into dataframe
df=pd.DataFrame({'Name':Name, 'Year of Span': Year_span, 'Genre': Genre, 'Run time': Run_time, 'Rating':Rating, 'Votes':Votes})
df

,Name,Year of Span,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,927,415"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"949,627"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,157"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,949"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,228"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,101"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,888"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,750"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,195"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,514"

## 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [285]:
#loading the webdriver with url
driver = webdriver.Chrome(r'C:/Users/atoranga/Documents/chromedriver.exe')
url = 'https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(2)

tag = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').get_attribute('href')
driver.get(tag)
time.sleep(2)

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instance=[]
attribute=[]
Year=[]

#extracting the 
tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
for i in tag:
    Dataset_name.append(i.text)

tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in tag:
    Data_type.append(i.text)
    
tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in tag:
    Task.append(i.text)
    
tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in tag:
    Attribute_type.append(i.text)

tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in tag:
    instance.append(i.text)

tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in tag:
    attribute.append(i.text)

tag=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in tag:
    Year.append(i.text)
    
#converting into dataframe
df = pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type[1:],'Task':Task[1:],'Attribute_type':Attribute_type[1:],'instance':instance[1:],'attribute':attribute[1:],'Year':Year[1:]})
df

,Dataset_name,Data_type,Task,Attribute_type,instance,attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021